.sprite{
    background: url("../img/houses.png") no-repeat;
}

.engineers{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: 0px 0px;

}

.shadows{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: -500px -500px;
}


.hipster{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: -5px -500px;
}


.spedders{
    width: 500px;
    height: 500px;
    display: inline-block;
    background-position: -500px -5px;
}



